[Desktop Entry]
Comment=Amadeus
Name=Amadeus
X-KDE-PluginInfo-Author=Michal-Szczepaniak
X-KDE-PluginInfo-Category=Plasma Look And  Feel
X-KDE-PluginInfo-Email=m.szczepaniak.000@gmail.com
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-License=WTFPL
X-KDE-PluginInfo-Name=Amadeus
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=Michal-Szczepaniak
